body{font-family: 'Raleway', sans-serif;
    background-color: #FEF9EF;
}
    h1{color:#227C9D;
        padding: 50px;
        margin: 20px;
        font-size: 3em;
    }
    h2{color: #FE6D73;}
    #h22{
        color: #FEF9EF;
    }
    #h23{
        color: #FE6D73;
    }
    div{
       padding: 5%;
    }
    img{
        width:50%;
        height:auto;
        margin: 2.5%;
        border-radius: 10px;
        float: right;
        position: relative;
    }
    a{
        color: lavender;
    }
    p{
        font-size: larger;
    }
    li{
        color: #565554;
        font-size: larger;
    }
    #li2{
        color: #FEF9EF;
    }
    #one{
        margin-top: 2.5%;
        color: white;
        background-color: #FE6D73;
        height: 15%;
        width: 35%;
        float: left;
    }
    #two{
        height: 15%;
        width: 35%;
        float: left;
        
    }
    #three{
        background-color: #FE6D73;
        height: 15%;
        width: 35%;
        float: left;
    }
    #four{
        height: 15%;
        width: 35%;
        float: left;
    }