body{font-family: 'Raleway', sans-serif;
background-color: #FEF9EF;}
h1{color:#227C9D;
    padding: 50px;
    margin: 20px;
    font-size: 3em;
}
h2{color: #FE6D73;}
img{
    max-width:25%;
    height:auto;
    border-radius: 8px;
}
p{
    color: #565554;
    font-size: larger;
}
li{
    color: #565554;
    font-size: large;
}